.intro__text{
    font-size: 1.2rem;
    color: $gray_dark;
}
.intro__title{
    font-weight: 500;
    font-size: 48px;
    line-height: 1.2;
}

.intro__subtitle{
    font-weight: 400;
    font-size: 1.6rem;
    color: $black;
    margin-bottom: 2rem;
}
.intro__subtitle--pink{
    color: $pink;
}